@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins'
}

main {
    background-color: #10BB82;
    width: 100%;
}

.welcome {
    height: 100vh;
    display: flex;
}

.welcome--message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height:100%;
    padding: 0 50px 0 50px;
}

.welcome--message--title {
    color: white;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 500;
}

.welcome--message > p {
    color: white;
    background-color: #10BB82;
    font-size: 1.8rem;
    font-weight: 500;
}

.welcome--graphic {
    background-color: white;
    color: #10BB82;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 5rem;
}

.algorithms {
    background-color: #5CFFB0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.algorithms--fcfs, .algorithms--sjf, .algorithms--priority {
    z-index: 1;
    background-color: white;
    height: 500px;
    width: 350px;
    border-radius: 30px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 500;
    padding-top: 10px;
}


.fcfs--choose {
    background-color: black;
    width: 200px;
    height: 50px;
    border-radius: 12px;
    color: white;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    font-weight: 500;
    transition: all 0.15s;
}

.fcfs--choose:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.sjf--choose {
    background-color: black;
    width: 200px;
    height: 50px;
    border-radius: 12px;
    color: white;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    font-weight: 500;
    transition: all 0.15s;
}

.sjf--choose:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.priority--choose {
    background-color: black;
    width: 200px;
    height: 50px;
    border-radius: 12px;
    color: white;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    font-weight: 500;
    transition: all 0.15s;
}

.priority--choose:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.algorithms--fcfs--description-button, .algorithms--sjf--description-button, .algorithms--priority--description-button {
    background-color: #99FFCE;
    width: 100%;
    height: 100%;
    margin-top: 10px;
    border-radius: 30px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    padding-bottom: 25px;
}

.fcfs--description {
    text-align: center;
    font-size: 1rem;
    padding: 30px;
    margin-bottom: 80px;
}

.App {
  padding: 30px;
  font-family: Arial, sans-serif;
  height: 100vh;
  background-color: white;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 10px;
  color: #10BB82;
  
}

table, th, td {
  border: 2px solid #10BB82;
  padding: 5px;
  text-align: center;
}

input[type="number"] {
  width: 60px;
}

.calculate {
    margin-left: 10px;
}

select, .calculate {
    background-color: #10BB82;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
    padding: 5px 9px;
}

.os--title {
    color: #10BB82;
    font-size: 2rem;
    margin-bottom: 20px;
}

.add-process {
    border-radius: 5px;
    padding: 5px 9px;
    margin-top: 10px;
    background-color: transparent;
    border: 2px solid #10BB82;
    color: #10BB82;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.15s;
    font-weight: 600;
}

.add-process:hover {
    background-color: #10BB82;
    color: white;
}

.results {
    color: #10BB82;
    font-size: 2rem;
    margin-top: 20px;
}

.awt {
    color: #10BB82;
    font-size: 1rem;
    font-weight: 600;
}